
# Ignore thumbnails created by windows
Thumbs.db

# Visual Studio specific
.vs/
*.vcxproj.user
*.aps
*.sdf
*.ipch
*.opendb
*.tlog
*.lastbuildstate

# Build directories
/x64/
/Debug/
/Release/
/TES3 Ant.3DDEB12F/

# Other temporary files
*.log